body {
  background-color:black;
  color:black;
  display:flex;
  border: blue solid 2px;
  display:block;
}
.playlist {
  background-color:salmon;
}

.song {
  display:inline-block;
  width:200px;
}

.inputs {
  background-color:magenta;
}

img {
  height:100px;
   display:block; 
}
